<h1>
  Lista 1000 najpopularniejszych filmów
</h1>

<ng-container *ngIf="movies$ | async as movies; else loading">

  <ng-container *ngIf="movies.length; else empty">
    <div class="item" *ngFor="let movie of movies; let i=index">

      <div class="index">{{ i+1 }}.</div>

      <app-movie [movie]="movie">
      </app-movie>

    </div>
  </ng-container>
  <ng-template #empty>
    <p>Nie ma żadnych filmów.</p>
  </ng-template>

</ng-container>
<ng-template #loading>
  <p>Trwa ładowanie...</p>
</ng-template>
